# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
public/260717 _ Danh sách sản phẩm An Thái.xlsx

# AI rules
.cursor/rules/*
Claude.md
.agents/*
.claude/*

# Environment variables
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gstack/
